<md-content class="pickup-route">
    <md-card flex-gt-sm="100" flex-gt-md="50"  layout="column" layout-padding>
        <md-card-title-text layout="column">
            <span class="md-headline">Routes</span>
            <span class="md-subline ui-hint">** rc view **</span>
        </md-card-title-text>

        <md-card-content>
            <md-table-container>
                <table md-table multiple ng-model="vm.selectedItems">
                    <thead md-head md-order="vm.query.order">
                        <tr md-row>
                            <th md-column>Name</th>
                            <th md-column>Addresses</th>
                            <th md-column>Length</th>
                            <th md-column>Duration</th>
                            <th md-column>Action</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in vm.items">
                            <td md-cell>{{item.name}}</td>
                            <td md-cell>{{item.addresses}}</td>
                            <td md-cell>{{item.length}}</td>
                            <td md-cell>{{item.duration}}</td>
                            <td md-cell>
                                <md-button class="md-icon-button" ui-sref="app.route-edit({route: item})"><md-icon>edit</md-icon></md-button>
                                <md-button class="md-icon-button" ng-click="vm.deleteItem($index)"><md-icon>delete</md-icon></md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end">
            <md-button class="md-raised md-primary" ui-sref="app.route-create">New</md-button>
        </md-card-actions>
    </md-card>
</md-content>